build/
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock.bak
host/build*/
*.pyc
.idea/
.vscode/
android/.gradle/
android/**/build/
android/.kotlin/
android/local.properties
.cxx/
android/**/bin/
